@import url("https://fonts.googleapis.com/css?family=Roboto");
.messages-sort-form {
  margin-bottom: 15px; }
  .messages-sort-form label {
    margin-top: 10px; }
  .messages-sort-form .reset-filter {
    font-size: 20px;
    margin-top: 40px; }

.message-list-header {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999; }

.message-list-block {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid rgba(252, 252, 252, 0.18);
  transition: 0.2s; }
  .message-list-block:hover {
    background: #fafafa; }
  .message-list-block .row div {
    padding-bottom: 5px;
    padding-top: 5px; }
  .message-list-block span {
    display: block;
    font-size: 12px;
    color: #666666;
    font-weight: normal; }
  .message-list-block input[type="checkbox"] {
    visibility: hidden;
    position: absolute; }
