@import 'global';

.no-messages {
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
    color: #999999;
}

.messages-container {
    margin-top: 75px;
    margin-bottom: 80px;
    .message-block {
        @include shadowOutline(0px, 0px, 4px, 0px, rgba(153,153,153,1));
        margin-bottom: 15px;
        padding: 15px;
    }
    .message-blok-top{
        position: relative;
        margin-bottom: 15px;
        .name {
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            color: #000000;
        }
        .map-marker {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            color: #63B8FF;
            margin-left: 10px;
            @include transition(0.2);
            cursor: pointer;
            &:hover{
                @include opacity(0.8);
            }
        }
        .time {
            color: #999999;
            font-size: 11px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .message-block-bottom {
        font-size: 14px;
        color: #000000;
    }
}

.background-map-object {
    position: fixed;
    z-index: 300;
    background: #000000;
    @include opacity(0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
#map-object{
    position: fixed;
    z-index: 400;
    height: 300px;
    width: 80%;
    top: 80px;
    left: 10%;
    display: none;
}
#map-object-location {
    height: 100%;
}