@import 'global';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0;
    min-width: 320px;
}

.content-container {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background:  #63B8FF;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    @include shadowOutline(0px, 2px, 5px, 0px, rgba(153,153,153,1));
    .site-name {
        position: relative;
        a {
            font-weight: bold;
            font-size: 20px;
            white-space: nowrap;
            color: #ffffff;
            text-decoration: none;
        }
        .users-online-counter {
            font-size: 10px;
            background: #ffffff;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-top: -100%;
            vertical-align: top;
            border-radius: 50px;
            -moz-user-select: none;
            -webkit-user-select: none;
            cursor: default;
            display: none;
        }
    }
    .user-name {
        font-size: 15px;
        color: #ffffff;
        text-align: right;
        span {
            cursor: pointer;
            padding-bottom: 5px;
            border-bottom: 1px solid #ffffff;
        }
    }
    .get-user-name {
        font-size: 14px;
        text-align: right;
        display: none;
        input[type=text] {
            background: transparent;
            border: 0;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
            font-size: 14px;
            outline: none;
            width: 100%;
        }
        ::-webkit-input-placeholder {color:#ffffff;}
        ::-moz-placeholder          {color:#ffffff;}
        :-moz-placeholder           {color:#ffffff;}
        :-ms-input-placeholder      {color:#ffffff;}
    }
    .get-user-name-active {
        display: block;
    }
    .search-form {
        position: fixed;
        margin-top: 15px;
        display: none;
        div{
            background: #63B8FF;
            padding: 10px;
            @include shadowOutline(0px, 2px, 5px, 0px, rgba(153,153,153,1));
            input[type=search] {
                font-size: 14px;
                width: 100%;
                background: transparent;
                border: 0;
                padding-bottom: 10px;
                border-bottom: 1px solid #ffffff;
                color: #ffffff;
                outline: none;
            }
            ::-webkit-input-placeholder {color:#ffffff;}
            ::-moz-placeholder          {color:#ffffff;}
            :-moz-placeholder           {color:#ffffff;}
            :-ms-input-placeholder      {color:#ffffff;}
        }
    }
}

.search {
    font-size: 20px;
    position: fixed;
    top: 70px;
    right: -50px;
    background: #63B8FF;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
    @include opacity(0.8);
    z-index: 200;
}

.send-message-container {
    display: none;
    background:  #63B8FF;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    @include shadowOutline(0px, -2px, 5px, 0px, rgba(153,153,153,1));
    input[type=text] {
        font-size: 14px;
        color: #ffffff;
        width: 100%;
        outline: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        background: transparent;
        border-bottom: 1px solid #ffffff;
    }
    ::-webkit-input-placeholder {color:#ffffff;}
    ::-moz-placeholder          {color:#ffffff;}
    :-moz-placeholder           {color:#ffffff;}
    :-ms-input-placeholder      {color:#ffffff;}
    .send-message-button{
        text-align: center;
        button {
            font-size: 14px;
            padding: 15px;
            background: transparent;
            color: #ffffff;
            outline: none;
            border: 0;
            border-radius: 50px;
            @include transition(0.2);
            &:hover {
                background: #ffffff;
                color: #63B8FF;
            }
        }
    }
}

.send-message-container-active {
    display: block;
}